<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Finance Form</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

    <form class="standardForm" th:action="@{/newFinanceEntry}" method="post">

        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

        <label for="cash">Cash, including bank account balances</label>
        <input id="cash" name="cash">

        <label for="assets">Assets, such as the equity in your house</label>
        <input id="assets" name="assets">

        <label for="investments">Investments, such as stocks or bonds</label>
        <input id="investments" name="investments">

        <label for="debt">Debt, such as credit cards or student loands</label>
        <input id="debt" name="debt">

        <input type="submit" value="Submit">

    </form>

</body>
</html>